body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header {
    background-color: #fbfbfb ;
    letter-spacing: 2px;
    position: relative;
    color: #fff;
    padding: 2rem 1rem;
    box-shadow: 1px 1px 8px gray;
}

/* logo */
.logo {
    width: 160px;
}

/* burger icon */
.burger {
    position: absolute;
    right: 20px;
    top: 40px;
    color: #8C52FF;
    cursor: pointer;
}
/* button */
button {
    border: none;
    color: #8C52FF;
    cursor: pointer;
    outline: none;
}

/* navbar */

.navbar {
    display: none;
    padding: 0;
    margin: 0;
    transition: all 1s ease-in-out;
}

/* show nav */
.show-nav {
    display: block;
    transform: translateX(0px);
}

ul {
    padding: 0;
    list-style: none;
}
li {
    padding: .8rem 0;
    margin: 0;
    border-bottom: solid 1px gray ;
}


a {
    text-decoration: none;
    color: #8C52FF;
    padding: 0;
    font-weight: 600;
    margin: 0;
    font-size: 1.2rem;
    transition: all .5s ;
}
a:hover {
    letter-spacing: 4px;
    color: #8c52ffa1;
}
/* container */
.container {
    margin: 0 auto;
    text-align: center;
}

/* title */
.title {
    padding: 2rem 1rem;
    font-size: 1.3rem;
}

/* special name */
.name {
 font-weight: 700;
 color: #1f5869;
 text-transform: uppercase;
}

/* frame container */
.frame-container {
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 3px gray;
  padding: 1rem;
  border-radius: 5px;
}

.frame-card {
    height: 40vh;
    border-radius: 5px;
    width: 99%;
}

/* footer */
footer {
    margin-top: 8rem;
    color: #fff;
}

.footer-content {
    background-color: #1f5869;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    height: 10vh;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 2rem;
}

/* media query */
@media screen and (min-width: 768px){

    header {
        padding: 2rem 2rem;
    }

   .container {
       width: 80%;
   }
   .frame-card {
    height: 50vh;
    } 
    .footer-content {
        font-size: 1.1rem;
    }
}

/* media query 1000px */
@media screen and (min-width: 1000px){

    header {
        padding: 2rem 5rem;
    }
      /* disply video flex */
   .all-cards {
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        width: 90%;
    }
    .card-content {
        width: 50%;
        box-sizing: border-box;
    }
}

